name: Checking SSH

on:
  workflow_dispatch:
  push:
    branches:
      - ci/test_ssh

defaults:
  run:
    shell: pwsh

jobs:
  testing:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # macOS does not support docker in GitHub Actions
        os: [windows-latest, ubuntu-latest]
    steps:
      - name: Checkout-install SetPwsh
        uses: actions/checkout@v5
        with:
          path: workplace/vim/runtime/pack/SetPwsh

      - name: Install WSL2
        if: contains(matrix.os, 'windows')
        uses: Vampire/setup-wsl@v6.0.0
        with:
          additional-packages:
            curl
            openssh-client
            dos2unix
          distribution: Ubuntu-24.04
          set-as-default: 'true'
          use-cache: 'true'
          wsl-version: 2

      - name: Install Docker inside WSL2
        if: contains(matrix.os, 'windows')
        shell: wsl-bash {0}
        run: |
          curl -fsSL https://get.docker.com -o install-docker.sh
          sudo sh install-docker.sh

      - name: Check ssh client config
        if: false
        run: |
          # Per user config
          if (Test-Path -Path ~/.ssh/config)
          {
            Get-Content -Path ~/.ssh/config -Encoding UTF8
          }

          # System config
          $systempath = if ($IsWindows) { "$Env:ProgramData/ssh/ssh_config" } else { "/etc/ssh/ssh_config" }
          if (Test-Path -Path $systempath)
          {
            Get-Content -Path $systempath -Encoding UTF8
          }

      - name: Set up a SSH server in Docker
        run: |
          # Set up keys
          pushd workplace/vim/runtime/pack/SetPwsh/.github/workflows
          mkdir sshkeys

          @"
          ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGazb0M5H6YIIyiZBbNkbfjca6QZszzvx/9G0/SB6Ee5 migue@Laptop-Barro
          "@ | Out-File -FilePath sshkeys/sshkey.pub -Encoding ASCII

          @"
          ${{ secrets.SSHKEY }}
          "@ | Out-File -FilePath sshkeys/sshkey -Encoding ASCII

          # Set file permissions
          if ($IsWindows)
          {
            # Disable inheritance
            $acl = Get-Acl -PSPath ./sshkeys/sshkey
            $acl.SetAccessRuleProtection($true, $true)
            $acl | Set-Acl -PSPath ./sshkeys/sshkey

            # Modify rules
            $acl = Get-Acl -PSPath ./sshkeys/sshkey
            $rule = $acl.Access | ? IdentityReference -eq "BUILTIN\Users"
            $acl.RemoveAccessRuleAll($rule)
            $acl | Set-Acl -PSPath ./sshkeys/sshkey

            # Copy the key to WSL2 to allow wsl ssh client usage
            wsl mkdir '$HOME/sshkeys'
            wsl cp sshkeys/sshkey '$HOME/sshkeys/sshkey'
          }
          else
          {
            chmod 600 sshkeys/sshkey
          }

          # Build docker image with SSH server
          $docker = $IsWindows ? { wsl -- docker $args 2>$null} : "docker"
          $base_image = "alpine:latest"
          $sshport = 42

          & $docker build `
            --build-arg sshport=$sshport `
            --build-arg base_image=$base_image `
            --build-arg pubkey=sshkeys/sshkey.pub -t alpine:test .

          # Run SSH server in background
          & $docker run --rm -d -p "${sshport}:${sshport}" --name sshtest alpine:test

          # Check docker is running
          # & $docker ps

          # Check config and keys
          # & $docker exec sshtest cat /etc/ssh/sshd_config
          # & $docker exec sshtest cat /home/sshuser/.ssh/authorized_keys
          # & $docker exec sshtest ls -l /home/sshuser/.ssh/authorized_keys

          # Avoid fingerprint prompt
          mkdir ~/.ssh
          (& $docker exec sshtest ssh-keyscan -p $sshport -H localhost) |
            Out-File -Path ~/.ssh/known_hosts -Encoding OEM -Append

          # Set up ssh agent and add private key
          if ($IsWindows)
          {
            if ((Get-Service ssh-agent).StartType -eq "Disabled")
            {
              Set-Service -Name ssh-agent -StartupType Manual
            }
            Start-Service ssh-agent
          }
          else
          {
            (ssh-agent -s | Select-String "^(?<name>.*)=(?<value>[^;]*);").Matches |
              ForEach-Object {
                # Extract environment variables
                $name = ($_.Groups | ? Name -eq "name")
                $value = ($_.Groups | ? Name -eq "value")
                # Use locally
                Invoke-Expression "`$Env:$name=`"$value`""
                # Persist for next steps
                "$name=$value" | Out-File -Path $Env:GITHUB_ENV -Encoding OEM -Append
              }
          }
          ssh-add ./sshkeys/sshkey

          # Test SSH connection
          # ssh -p $sshport sshuser@localhost whoami

          # Populate environment variable for next steps
          "SETPWSH_SSHCONFIG=sshuser@localhost:$sshport" |
            Out-File -Path $Env:GITHUB_ENV -Encoding OEM -Append

      - name: Test SSH server in Docker
        run: |
          # Test SSH connection
          $Env:SETPWSH_SSHCONFIG -match '^(?<user>[^@]+)@(?<host>[^:]+):(?<port>\d+)$' | Out-Null
          $sshcmd = "ssh -p {2} {0}@{1} whoami" -f $matches.user, $matches.host, $matches.port
          Invoke-Expression $sshcmd

      - name: Set up WSL2
        if: contains(matrix.os, 'windows')
        shell: wsl-bash {0}
        run: |
          # Keep wsl2 running
          nohup dbus-launch true >/dev/null 2>&1 &

          # • reuse the tcp connections to avoid handshakes
          #   it only works if we keep an ssh connection open all the time
          # • set up client to use the key
          cat <<EOF > $HOME/.ssh/config
          Host *
            ControlMaster auto
            ControlPath /tmp/%r@%h:%p
            StrictHostKeyChecking no
            UserKnownHostsFile /dev/null

          Host localhost
              Hostname 127.0.0.1
              User sshuser
              IdentityFile $HOME/sshkeys/sshkey
          EOF
          
          # set up right key permissions 
          dos2unix $HOME/sshkeys/sshkey
          sudo chmod 600 $HOME/sshkeys/sshkey

          # Keep alive connection
          nohup ssh -Nf -p 42 localhost &

      - name: Test SSH server in Docker over WSL2
        if: contains(matrix.os, 'windows')
        run: |
          # Test SSH connection
          $Env:SETPWSH_SSHCONFIG -match '^(?<user>[^@]+)@(?<host>[^:]+):(?<port>\d+)$' | Out-Null
          $sshcmd = "wsl ssh -p {2} {0}@{1} whoami" -f $matches.user, $matches.host, $matches.port
          Invoke-Expression $sshcmd
